{% extends "web_interface/layout.html" %}
{% load static %}

{% block body %}
    {% if has_error %}  
    <div class="alert alert-danger alert-dismissible" role="alert" id="liveAlertPlaceholder">
        {{ error_message }}
        </div>
    
    {% endif %}
    <div class="col-11" id="all-simulations-view">
        <h3>ALL SIMULATION VIEW</h3>
    </div>
  

    
    <div class="col-11" id="add-simulation-view">
        <h3>New Simulation</h3>
        <form enctype="multipart/form-data" id="sim_form" action="" method="post" class ="needs-validation" novalidate>
          {% csrf_token %}
          <script>
            var csrftoken = '{{ csrf_token }}';
          </script>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Enter username or name of user..." id="username" required>
                <label for="username">Username</label>
                <div class="invalid-feedback">
                    Please choose a username
                </div>
              
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" placeholder="Enter email" id="user_email" required>
                <label for="user_email">Email Address</label>
                <div class="invalid-feedback">
                    Please choose a valid email address
                </div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="sim_description"></textarea>
                <label for="sim_description">Simulation Description</label>
            </div>
            <div class="mb-3">
                <h6>Select on how the input model/s will be loaded (File Upload/Manual Input)</h6>
                <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="ModelInput" required>
                    <option selected disabled value=""></option>
                    <option value="csv">File Upload</option>
                    <option value="manual">Manual Input</option>
                </select>
                <div class="invalid-feedback">
                    Please choose an input method
                </div>
            </div>
            <div class="mb-3" id="input-model-group">

            </div>

            <div id="sim-param-group">
                
                <fieldset>
                    <legend>Simulation Parameters:</legend>
                    <div class="row">
                        <div class="col-5">
                            <label>Boundary Condition</label>
                            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="boundary_cond">
                                <option value="dirichlet">Dirichlet Boundary Condition</option>
                                <option selected value="pabc">Perfectly Absorbing Boundary Condition</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose a valid boundary condition
                            </div>
                        </div>
                        <div class="col-5">
                            <label for="source_excitation">Source Excitation Method</label>
                            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="source_excitation">
                                <option value="hard">Hard Source Method</option>
                                <option value="soft">Soft Source Method</option>
                                <option selected value="tfsf">Total Field/Scatter Field Method</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose a valid excitation method
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Custom Output Filename</label>
                            <input type="text" class="form-control" placeholder="Enter any arbitrary string..." id="custom_name" required>
                        </div>
                        <div class="col-5">
                            <label for="source_excitation">Output File Type</label>
                            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="output_type">
                                <option value="csv">Comma Separated Values (CSV)</option>
                                <option value="npy">Numpy Array File (NPY)</option>
                                <option selected value="hdf5">Hierarchical Data Format version 5 (HDF5)</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose a file type
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Algorithm</label>
                            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="algorithm" >
                                <option selected value="fdtd">Finite Difference Time Domain (FDTD) Algorithm</option>
                                <option value="fdtd-schwarz">Combined Finite Difference Time Domain and Schwarz's Alternating Method</option>
                            </select>
                            <div class="invalid-feedback">
                                Please choose a algorithm
                            </div>
                        </div>
                        <div class="col-2 form-check form-switch" style="padding-top: 40px;">
                            <input class="form-check-input" type="checkbox" role="switch" id="multithreading-swtich">
                            <label class="form-check-label" for="multithreading-swtich">Multithreading</label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="num_subdomains">Number of Subdomains: <b id="currVal"></b></label>
                        <input type="range" class="form-range" min="0" max="6" id="num_subdomains" required>
                    </div>
                </fieldset>
                
            </div>
            <button id="submit-Btn" class="btn btn-primary" >Submit</button>
        </form>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="failed_submit_toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header">
                <img src="..." class="rounded me-2" alt="...">
                <strong class="me-auto">Form Submission Failed</strong>
                <small id="failed_submit_toast_time"></small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body">
                Please put a valid value on the required fields.
              </div>
            </div>
          </div>
          
    </div>
    
    <div class="col-11" id="about-view">
        <h1>About page</h1>
        <div>
            <p>
                Created for ECE 198 project. Simple web interface (integrating with C++ program for FDTD Simulations).
            </p>
            <h5>
                <b>Source Code: </b> <a href="https://github.com/marvinmoyco/fdtd-code/tree/main" target="_blank">https://github.com/marvinmoyco/fdtd-code/tree/main</a>
            </h5>
        </div>
        
    </div>
{% endblock %}




{% block script %}


    <script type="module" src="{% static 'web_interface/index.js' %}"></script>
{% endblock %}