{% extends "web_interface/layout.html" %}
{% load static %}

{% block body %}
    <div class="col-11" id="all-simulations-view">
        <h3>ALL SIMULATION VIEW</h3>
    </div>
    
    <div class="col-11" id="simulation-view">
        <h3>SINGLE SIMULATION VIEW</h3>
    </div>

    <div class="col-11" id="add-simulation-view">
        <h3>New Simulation</h3>
        <form id="simulation-input-form">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Enter username or name of user..." id="username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" id="sim_description"></textarea>
                <label for="sim_description">Simulation Description</label>
            </div>
            <div class="mb-3">
                <h6>Select on how the input model/s will be loaded (File Upload/Manual Input)</h6>
                <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="ModelInput">
                    <option selected></option>
                    <option value="csv">File Upload</option>
                    <option value="manual">Manual Input</option>
                </select>
            </div>
            <div class="mb-3" id="input-model-group">

            </div>

            <div id="sim-param-group">
                
                <fieldset>
                    <legend>Simulation Parameters:</legend>
                    <div class="row">
                        <div class="col-5">
                            <label>Boundary Condition</label>
                            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="boundary_cond">
                                <option selected>Enter the type of boundary condition...</option>
                                <option value="dirichlet">Dirichlet Boundary Condition</option>
                                <option value="pabc">Perfectly Absorbing Boundary Condition</option>
                            </select>
                        </div>
                        <div class="col-5">
                            <label for="source_excitation">Source Excitation Method</label>
                            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="source_excitation">
                                <option selected>Enter the excitation method...</option>
                                <option value="hard">Hard Source Method</option>
                                <option value="soft">Soft Source Method</option>
                                <option value="tfsf">Total Field/Scatter Field Method</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Custom Output Filename</label>
                            <input type="text" class="form-control" placeholder="Enter any arbitrary string...">
                        </div>
                        <div class="col-5">
                            <label for="source_excitation">Output File Type</label>
                            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="source_excitation">
                                <option selected>Enter the output file type...</option>
                                <option value="csv">Comma Separated Values (CSV)</option>
                                <option value="npy">Numpy Array File (NPY)</option>
                                <option value="hdf5">Hierarchical Data Format version 5 (HDF5)</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <label>Algorithm</label>
                            <select class="form-select form-select-lg mb-3" aria-label="Default select example" id="algorithm" >
                                <option selected>Enter the type of algorithm...</option>
                                <option value="fdtd">Finite Difference Time Domain (FDTD) Algorithm</option>
                                <option value="fdtd-schwarz">Combined Finite Difference Time Domain and Schwarz's Alternating Method</option>
                            </select>
                        </div>
                        <div class="col-2 form-check form-switch" style="padding-top: 40px;">
                            <input class="form-check-input" type="checkbox" role="switch" id="multithreading-swtich">
                            <label class="form-check-label" for="multithreading-swtich">Multithreading</label>
                        </div>
                    </div>
                    <div class="row">
                        <label for="num_subdomains">Number of Subdomains: <b id="currVal"></b></label>
                        <input type="range" class="form-range" min="0" max="6" id="num_subdomains">
                    </div>
                </fieldset>
                
            </div>
            <input type="submit" class="btn btn-primary" value="Submit Input parameters"/>
        </form>
    </div>
    
    <div class="col-11" id="about-view">
        <h1>About page</h1>
        <div>
            <p>
                Created for ECE 198 project. Simple web interface (integrating with C++ program for FDTD Simulations).
            </p>
            <h5>
                <b>Source Code: </b> <a href="https://github.com/marvinmoyco/fdtd-code/tree/main">https://github.com/marvinmoyco/fdtd-code/tree/main</a>
            </h5>
        </div>
        
    </div>
{% endblock %}




{% block script %}
<script src="{% static 'web_interface/index.js' %}"></script>
{% endblock %}